<section class="pt-3 mt-2">
  <!-- fotografia background eyes -->
  <div class="container-fluid bg-2 p-3">
    <div class="img-background__upform">
    </div>
  </div>
</section><!-- end fotografia background eyes -->
<div class="particles" id="particles-js"></div>
<div class="container-fluid container-section">
  <div class="col-12 row justify-content-center ml-1">
    <form class="container-form" action="/add-user" method="POST">
      <!-- Formulario de Registro -->
      <h2 class="text-white pb-3">Registrate para acceder al contenido</h2>
      <div class="form-group">
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Email">
        <small id="emailHelp" class="form-text text-white">
          No te enviaremos Spam ni
          compartiremos tu informacion.</small>
      </div>
      <div class="form-group">
        <input type="name" name="name" class="form-control mt-2" id="exampleInputPassword1" placeholder="Nombre">
      </div>
      <div class="form-group">
        <input type="location" name="location" class="form-control mt-2" id="city" placeholder="Ciudad">
      </div>
      <div class="form-check mt-2 text-white pt-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Estoy de acuerdo </label>
      </div>
      <div class="container_submit mt-3 mb-3">
        <button type="submit" class="btn mb-3 btn-info">Aplicar</button>
      </div>
    </form><!-- End Formulario de Registro -->
  </div>
</div><!-- end Container form -->