@charset "UTF-8";

/*----------------------------------------
SOBREESCRIBIENDO  LOS ESTILOS DE BOOTSTRAP
------------------------------------------*/
#admin {
  margin: 0
}

.bg-primary {
  background-color: #007299 0% !important;
}

.bg-success {
  background-color: rgb(3, 92, 122) 0% !important;
}

.bg-danger {
  background-color: #3272bb !important;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.bg-info {
  background-color: rgba(41, 115, 158, 0.3) !important;
  border-radius: 20px;
}

.bg-info2 {
  background-color: hsla(188, 77%, 46%, 0.5) !important;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgb(12, 12, 12, 0.5)
}

.text-primary {
  color: rgb(0, 114, 153) !important;
}

.btn-primary {
  background-color: rgb(19, 89, 149) !important;
  border-color: rgb(124, 0, 181) !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgb(0, 232, 213) !important;
}

.btn-primary:active {
  background-color: rgb(181, 29, 0) !important;
  border-color: rgb(130, 21, 0) !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(255, 64, 28) !important;
  box-shadow: 0 0 0 0.2rem rgb(255, 64, 28) !important;
}

.btn-lg {
  font-size: 35px;
  border-radius: 15px
}

.btn-info {
  box-shadow: 2px 2px 22px 0px rgba(34, 85, 105, 0.4);
  border: none;
}

.btn-info:hover {

  background-color: #1cc896;
  border: none;
}



.btn-info2:hover {
  background-color: rgb(244, 5, 5);
  color: rgb(255, 255, 255)
}

/*--------------------------
ESTILOS DEL DISEÑO
---------------------------*/

.txt {
  line-height: 2.5em
}

body {
  font-family: 'Open Sans', sans-serif;
}


.card:hover {
  -webkit-box-shadow: 0 0 10px rgb(12, 12, 12);
  box-shadow: 0 0 10px rgb(12, 12, 12);
}

/*------------------------
MEDIA QUERIES
------------------------*/
@media (min-width:333px) and (max-width: 767px) {
  html {
    font-size: 0.92rem;
  }
}

@media (min-width:1361px) {
  html {
    font-size: 1.08rem;
  }
}
/*--------------------------
nav
---------------------------*/


/*--------------------------
Login
---------------------------*/

.form-group {
  padding: 2;
  margin: 0
}

.fr {
  font-size: 14px;
  color: rgb(225, 225, 225);
}

.terms {
  font-size: 15px;
  padding-top: .5em;
}

.btn1 {
  max-width: 120px;
  padding: 4px;
  display: flex;
  justify-content: center;
  border-radius: 9px;
}

a {
  color: rgb(20, 147, 174);
}

.container-log {
  height:97vh;
}

.log-init{
  height:90%;
  display:flex;
  justify-content:center;
  align-items: center;

}
/*--------------------------
Status
---------------------------*/

.status {
  height: 100%
}

/*--------------------------
Backgrounds
---------------------------*/


.img-background__upform {
  min-height: 35vh;
  max-height: 40vh;
}



.bg-2 {
  /* The image used */
  position: relative;
  background-image: url(../images/fondo2sinborde.png);

  /* Full height */
  height: 100% !important;
  width: 100% !important;

  /* Center and scale*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: block;
  z-index: 1
}



/*--------------------------
FOOTER
---------------------------*/

.pie-de-pagina {
  position: relative;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: auto;
  padding: 1em 0;
  font-size: 0.9em;
  margin: 0;
}

.pie-de-pagina2 {
  position:sticky;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 13%;
  text-align: center;
}

footer div {
  font-size: 0.8rem
}

/*--------------------------
Status Info  -imagenes
---------------------------*/


.somos-info {
  height: auto
}

.comillas {
  position: relative;
  left: 755%;
  top: 4rem;
}

/*--------------------------
Formulario
---------------------------*/
h2 {
  font-size: 1.2em;
}

.container-form {
  min-width: 400px;
  margin-top: 1.5rem
}

.btn {
  border-radius: 9px;
  min-width: 6em;
}

@media(min-width:1361px) {
  body {
    font-size: .9rem;
  }
}

/*--------------------------
animacion
---------------------------*/

.particles {
  background-color: #17a2b8;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 10px;
}