<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="images/phpThumb_generated_thumbnail.ico">
  <!-- FUENTES DE GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
  <!-- ARCHIVOS CSS BOOTSTRAP 4 -->
  {{!-- <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- ARCHIVOS CSS PERSONALIZADOS -->
  <link type="text/css" rel="stylesheet" href="/css/estilos.css">
  <title>ScanAI</title>
</head>

<body class="img-responsive bg-danger">
  <!-- SECCION NAVEGACIÓN-->
  <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
    <div class="container text-light">
      <a href="#" class="navbar-brand img-fluid font-weight-bold">
        <img src="images/logo.png" alt="logoscanai">
      </a>
      <p id="admin">Formulario para Aplicar </p>
    </div>
  </nav>

{{!-- Contenido --}}

  {{{body}}}


 <!-- SECCION PIE DE PÁGINA -->
  <footer class="row pie-de-pagina bg-dark text-white">
    <div class="col-12 d-flex justify-content-center align-self-center ">
      Powered © 2021 By <a href="#"><b>&nbsp;LL&MT &nbsp; </b></a> & Developer by <a href="#"><b>&nbsp; LL&MT.
        </b></a>
    </div>
  </footer>

  <!-- ARCHIVOS BOOTSTRAP JAVASCRIPT -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
